<header>
  <div class="container">
    <div class="header-left">
      <%= image_tag "tittle-logo.png", class:"logo" %>
    </div>
    <div class="header-right">
      <a href="#" class="login">ログイン</a>
    </div>
  </div>
</header>

<div class="top-wrapper">
  <div class="container">
    <h1>We Love Cats!</h1>
    <p>猫好きなあなたへ。</p>
    <p>大好きなうちの仔、気になるあの仔の写真を共有しよう。</p>
    <div class="btn-wrapper">
      <a href="#" class="btn signup">新規登録はこちら</a>
      <p>or sign up with</p>
      <a href="#" class="btn facebook">
        <span class="fa fa-facebook"></span>
        Facebookで登録
      </a>
      <a href="#" class="btn twitter">
        <span class="fa fa-twitter"></span>
        Twitterで登録
      </a>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="heading">
    <h2>What kind of function?</h2>
  </div>
  <div class="pictures">
    <div class="picture">
      <div class="picture-icon">
        <img src="https://prog-8.com/images/html/advanced/html.png">
        <p>ユーザー機能</p>
      </div>
      <p class="txt-contents">メールアドレスとパスワードの設定だけですぐに始める事がができます。マイページにはあなたが投稿した写真の他に、おすすめの写真もあるのでみんなの愛猫が簡単にみれます！</p>
    </div>
    <div class="picture">
      <div class="picture-icon">
        <img src="https://prog-8.com/images/html/advanced/html.png">
        <p>写真投稿機能</p>
      </div>
      <p class="txt-contents">投稿したい写真を選んで投稿するだけ！あなたの愛猫をみんなに自慢しましょう！</p>
    </div>
    <div class="picture">
      <div class="picture-icon">
        <img src="https://prog-8.com/images/html/advanced/html.png">
        <p>いいね機能</p>
      </div>
      <p class="txt-contents">たくさんの写真の中にはあなたのお気に入りの写真が必ずあるはず！そんな時はいいねを押していつでもマイページで見れるようにしましょう！</p>
    </div>
    <div class="picture">
      <div class="picture-icon">
        <img src="https://prog-8.com/images/html/advanced/html.png">
        <p>検索機能</p>
      </div>
      <p class="txt-contents">ペットショップや動物病院を検索する機能もあります。大切なパートナーの為にいつでも検索可能！</p>
    </div>
  </div>
</div>
<div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h2>Welcome to the world of happy cats !!</h2>
      <h3>あなたも自慢の愛猫をみんなに共有しませんか？</h3>
    </div>
    <span class="btn message">新規登録はこちら</span>
  </div>
</div>
<footer>
  <div class="container">
    <%= image_tag "tittle-logo.png", class:"l" %>
    <p>Make you happy with cat pictures</p>
  </div>
</footer>